<ng-container *ngIf="mode === 'interactive' && interactiveSubmode === 'predict'; else sharedRendererTree">
  <div class="main" *ngIf="root as r">
    <div class="inference-node">
      <div class="children" *ngIf="r.children?.length">
        <app-type-inference-tree
          *ngFor="let child of r.children"
          [root]="child"
          [mode]="mode"
          [interactiveSubmode]="interactiveSubmode"
          [selectedNode]="selectedNode"
          [predictionRuleRequest]="predictionRuleRequest"
          (nodeClicked)="nodeClicked.emit($event)"
          (plusButtonClicked)="plusButtonClicked.emit($event)"
          (ruleSelected)="ruleSelected.emit($event)">
        </app-type-inference-tree>
      </div>

      <div class="prediction-inputs" *ngIf="hasPendingPrediction">
        <div class="prediction-inputs-wrapper-row">
          <div 
            *ngFor="let prediction of userPredictions; let i = index; trackBy: trackByIndex" 
            class="prediction-input-wrapper"
          >
            <input 
              type="text" 
              class="prediction-input-field" 
              [value]="userPredictions[i]"
              (input)="onPredictionInput($event, i)"
              [placeholder]="(t.predictExpression + ' ' + (i + 1) + ' (e.g., x, \\x:A. x)')"
              (keyup.enter)="confirmPrediction()"
              (keydown)="onKeyDown($event)"
            />
          </div>
        </div>
      </div>

      <div class="conclusion" [ngClass]="{ selected: isSelected }">
        <button 
          *ngIf="mode === 'interactive' && !r.children?.length && r.rule !== 'Var' && r.rule !== 'True' && r.rule !== 'False' && r.rule !== 'Zero'"
          class="rule-plus-btn"
          (click)="onPlusButtonClick($event)"
          [title]="t.addRule"
          [attr.aria-label]="t.addRule"
        >
          <span class="plus-icon">+</span>
        </button>
        <span class="rule" *ngIf="r.children?.length || r.rule === 'Var' || r.rule === 'True' || r.rule === 'False' || r.rule === 'Zero'">
          {{ r.rule }}
        </span>
        <div class="inference-content">
          <div class="expression">{{ formatExpression(r.expression) }}</div>
          <div class="type-separator">:</div>
          <div class="type">{{ formatType(r.inferredType) }}</div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #sharedRendererTree>
  <app-tree-renderer
    [treeType]="'type'"
    [root]="root"
    [mode]="mode"
    [selectedNode]="selectedNode"
    [currentLanguage]="currentLanguage"
    [formatExpressionFn]="rendererExpression"
    [formatTypeFn]="rendererType"
    [showPlusButtonFn]="canShowPlusButton"
    [showRuleFn]="canShowRule"
    (nodeClicked)="onRendererNodeClicked($event)"
    (plusButtonClicked)="onRendererPlusButtonClicked($event)">
  </app-tree-renderer>
</ng-template>
