<ng-container *ngIf="mode === 'interactive' && interactiveSubmode === 'predict'; else sharedRendererTree">
  <div class="main" *ngIf="root as r">
    <div class="proof-node">
      <div class="children" *ngIf="r.children?.length">
        <app-proof-tree
          *ngFor="let child of r.children"
          [root]="child"
          [mode]="mode"
          [interactiveSubmode]="interactiveSubmode"
          [selectedNode]="selectedNode"
          [predictionRuleRequest]="predictionRuleRequest"
          (nodeClicked)="nodeClicked.emit($event)"
          (plusButtonClicked)="plusButtonClicked.emit($event)"
          (ruleSelected)="ruleSelected.emit($event)">
        </app-proof-tree>
      </div>

      <div class="prediction-inputs" *ngIf="hasPendingPrediction">
        <div class="prediction-inputs-wrapper-row">
          <div 
            *ngFor="let prediction of userPredictions; let i = index; trackBy: trackByIndex" 
            class="prediction-input-wrapper"
          >
            <input 
              type="text" 
              class="prediction-input-field" 
              [value]="userPredictions[i]"
              (input)="onPredictionInput($event, i)"
              [placeholder]="t.predictSequent + ' ' + (i + 1) + ' (e.g., A ⊢ B)'"
              (keyup.enter)="confirmPrediction()"
              (keydown)="onKeyDown($event)"
            />
          </div>
        </div>
      </div>

      <div class="conclusion" [ngClass]="{ selected: isSelected }">
        <button 
          *ngIf="mode === 'interactive' && !r.children?.length && r.rule !== 'Ax' && r.rule !== 'id'"
          class="rule-plus-btn"
          (click)="onPlusButtonClick($event)"
          [title]="t.addRule"
        >
          <span class="plus-icon">+</span>
        </button>
        <span class="rule" *ngIf="r.children?.length || r.rule === 'Ax' || r.rule === 'id'">
          {{ displayRuleLabel(r.rule) }}
        </span>
        <div class="sequent-content" [appKatex]="r.sequentLatex || sequentToLatex(r.sequent)"></div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #sharedRendererTree>
  <app-tree-renderer
    [treeType]="'sequent'"
    [root]="root"
    [mode]="mode"
    [selectedNode]="selectedNode"
    [currentLanguage]="currentLanguage"
    [sequentLatexFn]="rendererSequentLatex"
    [ruleLabelFn]="rendererRuleLabel"
    [showPlusButtonFn]="canShowPlusButton"
    [showRuleFn]="canShowRule"
    (nodeClicked)="nodeClicked.emit($event)"
    (plusButtonClicked)="plusButtonClicked.emit($event)">
  </app-tree-renderer>
</ng-template>
