<div class="help-modal" *ngIf="visible" (click)="onBackdropClick()">
  <div class="help-modal__dialog" (click)="onDialogClick($event)">
    <div class="help-modal__header">
      <h3>{{ t.helpTitle }}</h3>
      <button class="modal-close" type="button" (click)="onClose()" [attr.aria-label]="t.close">✕</button>
    </div>
    <div class="help-modal__body">
      <div class="tutorial-content">
        <ng-container *ngFor="let section of sections">
          <h4>{{ section.title }}</h4>
          <p *ngIf="section.paragraph">{{ section.paragraph }}</p>
          <ng-container *ngIf="section.items?.length">
            <ol *ngIf="section.ordered; else unorderedList">
              <li *ngFor="let item of section.items">
                <strong *ngIf="item.label">{{ item.label }}</strong>
                {{ item.text }}
                <ul *ngIf="item.children?.length">
                  <li *ngFor="let child of item.children">
                    <strong *ngIf="child.label">{{ child.label }}</strong>
                    {{ child.text }}
                  </li>
                </ul>
              </li>
            </ol>
            <ng-template #unorderedList>
              <ul>
                <li *ngFor="let item of section.items">
                  <strong *ngIf="item.label">{{ item.label }}</strong>
                  {{ item.text }}
                  <ul *ngIf="item.children?.length">
                    <li *ngFor="let child of item.children">
                      <strong *ngIf="child.label">{{ child.label }}</strong>
                      {{ child.text }}
                    </li>
                  </ul>
                </li>
              </ul>
            </ng-template>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div class="help-modal__footer">
      <p-button [label]="t.close" (click)="onClose()" styleClass="btn btn-primary"></p-button>
    </div>
  </div>
  <div class="help-modal__backdrop"></div>
</div>
